.checklist{
    list-style: none;
}
.checked{
    margin: 0;
    padding: 20px 0 20px 30px;
    background-image: url("image/opdracht6.1.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}
li {
    margin: 0;
    padding: 20px 0 20px 30px;
    list-style: none;
    background-image: url("image/opdracht6.2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}