* {
    margin:0px
}
body {
    width: 1200px;
    margin: auto;
}

.hoofd {
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 30px;
    color: #EDF2F4;
    text-decoration: none;
    padding: 0 10px 40px;
    margin-top: 15px;
}
nav{
    background-color: rgba(46,44,47,0.88)
}
nav > a {
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
}
article{
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
}
article header{
    text-decoration: underline;
    font-size: 25px;
}
article h1{
    padding: 30px 0;
}
h1 {
    padding: 5px 0;
}
p {
    padding: 5px 0;
}
.voet {
    padding-bottom: 25px;
}
