main{
    font-size: 1.25em;
    margin-right: 810px;
}
article {
    border: 1px solid black;
    margin: 10px;
    clear: both;
    overflow: hidden;
}
h2{
    padding: 10px;
}
p {
    padding: 10px;
}
img {
    display: block;
    margin: 10px;
}
article:nth-child(odd) img{
    float:left;
}
article:nth-child(even) img {
    float:right
}